@charset "UTF-8";

html{
    font-size: 20px;

}

h1{
    color: ;
    font-size:;
    font-weight:;


}

section h2{
    color:;
    font-size:;

}

section p{
    line-height: 2;
    text-align: center;
}

}